/* Google fonts - Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* Global */
* { font-family: 'Lato', sans-serif; font-weight: 300; }
body { background: var(--black); color: var(--white); }
a { transition: all 200ms ease-in-out; }
.title h1 { margin-block-start: 0.5em; margin-block-end: 0em; }
h1 { font-size: 40px; }
h4 { font-weight: 900; font-size: 20px; margin-block-end: 0em; }
h2 span { font-weight: 500; }
h2 { font-size: 34px; font-style: italic; }


/* Color Palette */
:root {
  --dark: #000;
  --black: #101010;
  --white: #fff;
  --grey: #c4c4c4;
}


/* Grids */
.c { position: relative; min-height: 1px; float: left; }
.c4 { width: 35%; }
.c8 { width: 65%; }
.container { width: 100%; }
.container:before { display: table; content: " "; }
.container:after { display: table; content: " "; clear: both; }
.flex_center_center { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; }


/******************** 
        Styles 
********************/

/* Header / Navbar */
.header { position: fixed; top: 0; left: 0; width: 5vw; height: 100vh; background: var(--dark); display: grid; }
.header__button { width: var(--header-height); flex-shrink: 0; background: none; outline: none; border: none; color: var(--white); cursor: pointer; }
.nav__links { position: fixed; top: 0; left: 0; z-index: 2; height: 100vh; width: 250px; transform: translateX(-250px); transition: transform 0.3s; }
.nav--open .nav__links { transform: translateX(0); background: var(--dark); display: flex; justify-content: center; align-items: center; }
.nav__link { display: flex; align-items: center; color: var(--white); font-weight: 300; font-size: 14px; text-decoration: none; padding: 12px 15px; background: transform 0.2s; }
.nav__link > i { display: none; }
.nav__link:hover { font-weight: 600;}
.nav__overlay { position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.5); backdrop-filter: blur(2px); visibility: hidden; opacity: 0; transition: opacity 0.3s; }
.nav--open .nav__overlay { visibility: visible; opacity: 1; }
.header_icon { width: 100%; display: flex; justify-content: center; align-items: center; height: 30%; }
.header_icon img { width: 60%; }
.header_flex_button { width: 100%; display: flex; align-items: center; justify-content: center; }
.header_flex_button { width: 100%; display: flex; align-items: center; justify-content: center; }
.header__button i { font-size: 18px; }
.header_flex_sns { display: block; }
.grid_4 { display: flex; justify-content: center; align-items: flex-end; height: 30%; }
a.header_sns_icon { color: var(--white); }
a.header_sns_icon:hover { color: var(--grey); }

/* Main */
.main { margin: -8px; width: 95vw; float: right; }

/* Home */
section#home { background: url(../images/background.jpg); background-repeat: no-repeat; background-attachment: fixed; background-position: top center; background-size: cover; height: 100vh; }
.header_logo img { width: 25%; }

/* Services */
section#services { padding: 100px 30px 100px; }
.services_block { height: 20%; border-bottom: 1px solid var(--white); margin-bottom: 20px; }
.services_border { border-left: 1px solid var(--white); position: absolute; top: 30%; bottom: 30%; left: 15%; }
.services_link { display: flex; justify-content: center; align-items: center; height: 100%; }
.services_link a span { font-size: 22px; font-weight: 600; }
.services_link a { text-decoration: none; color: var(--white); font-size: 15px; font-weight: 600; }
.services_link a:hover { color: var(--grey); }


@media screen and (max-width:768px) {

.header { position: fixed; top: 0; left: 0; width: auto; height: auto; background: none; display: flex; }
.material-icons { font-size: 94px; line-height: 1; }

}










